body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
.title{
    text-align: center;
    margin-top: 20%;
}
.clock{
    text-align: center;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 22px rgb(0, 0, 0, 0.2);
    max-width: 320px;
    margin:20px auto 0;
}
.clock button{
    padding: 5px 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: .3s;
    color: #fff;
    font-size: 18px;
    border: 1px solid transparent;

}
.clock__time{
    padding: 0 10px;
}
.clock__btnStart{
    background: #5cb85c;
    border-radius: #4cae4c;
}
.clock__btnStart:hover{
    background: #499d44;
    border-color: #398439;
}
.clock__btnPause{
    background: #f0ad4e;
    border-radius: #eea236;
}
.clock__btnPause:hover{
    background: #ec971f;
    border-color: #d58512;
}
.clock__btnStop{
    background: #d9534f;
    border-radius: #d43f3a; 
}
.clock__btnStop:hover{
    background-color: #c9302c;
    border-color: #ac2925;
}