body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: center;
}

.title {
    margin: 20% 0 20px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 25xp;
    color: #d8534f;
}

.control {
    padding: 5px 15px;
    margin: 0 5px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: .3s;
    color: #fff;
    font-size: 16px;
    border: 1px solid transparent;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.control:hover {
    background-color: #286090;
    border-color: #204d74;

}

.clock {
    text-align: center;
    margin: 20px auto 0;
    max-width: 320px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 22px rgba(0, 0, 0, 2);
}

.clock button {
    padding: 5px 15px;
    margin: 0 5px;
    border-radius: 4px;
    cursor: pointer;
    transition: .3s;
    color: #fff;
    font-size: 18px;
    border: 1px solid transparent;
}

.clock__time {
    padding: 0 10px;
}

.clock__btnStart {
    background: #5cb85c;
    border-color: #4cae4c;
}
.clock__btnStart:hover {
    background-color: #449d44;
    border-color: #398439;
}

.clock__btnPause {
    background-color: #f0ad4e;
    border-color: #eea236;
}
.clock__btnPause:hover {
    background-color: #ec971f;
    border-color: #d58512;
}

.clock__btnStop {
    background-color: #d9534f;
    border-color: #d43f3a;
}
.clock__btnStop:hover {
    background-color: #c9302c;
    border-color: #ac2925;
}